page-home {

    .txt-user {
        margin-top: 150px;
    }

}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-left-100 {
    margin-left: 100px;
}

.height-70 {
    height: 70px;
}

.margin-left-70 {
    margin-left: 70px;
}

.title-products{
    font-size:24px;
    text-align: justify;
} 