page-select-products {
    .get-package {
        position: relative;
        margin-left: 70px;
    }
    .success {
        text-decoration: line-through;
        text-decoration-color: forestgreen;
    }
}




